@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Parkway Pantai</h1>

    <p>
        Parkway Pantai Limited, an investment holding company, develops, owns, and operates hospitals, medical centers, and clinics. It offers medical and surgical advisory, management and medical consultancy, and molecular diagnostic and medical laboratory services, as well as managed care and healthcare consulting services. The company also provides radiology consultancy and interpretative, financial and treasury, rehabilitation, health and wellness, occupational and environmental health, haemodialysis, oncological, clinical research, specialized care, and nursing agency services, as well as courses in nursing and allied health. In addition, it owns, manages, and operates radiology clinics, cardiac and cardiothoracic care centers, outpatient and daycare medical centers, and multi organ transplant healthcare facilities. Further, the company is involved in the development, construction, and leasing of medical facility buildings and other properties; and operates as an agent and administrator for managed care and related services. Additionally, it promotes and organizes healthcare events; and operates as a real estate investment trust. It has operations in Singapore, Malaysia, India, China, Hong Kong, the United Arab Emirates, and Brunei. The company was incorporated in 2011 and is based in Singapore. Parkway Pantai Limited is a subsidiary of IHH Healthcare Berhad.
    </p>

</div>